<head>
    <meta charst = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Flask Example</title>
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Redirecting you to... </h2>
        <a href="https://chatgpt.com/" target="_blank">
            <button>Go to ChatGPT</button>
        </a>   
        <form action = "/main" method = "post">
            <p><input type = "submit" value = "Go back to Main"></p>
       </form>    
     </div>
</body>